<div class="ui two column centered grid">
  <div class="column">
    <div class="ui basic segment">
      <h1 class="ui centered header">Iniciar sesión</h2>

      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="ui form">
          <div class="field">
            <%= f.input :email, required: false, autofocus: true, label: false, placeholder: 'Correo electronico' %>
          </div>
          <div class="field">
            <%= f.input :password, required: false, label: false, placeholder: 'Contraseña' %>
          </div>
          <%= f.button :submit, "Iniciar sesión", class: 'ui fluid teal button' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
