<% if user_signed_in? %>
  <div class="ui bottom attached segment pushable">
    <div class="ui visible inverted left vertical sidebar menu">
      <a class="item">
        <i class="home icon"></i>
        Inicio
      </a>
      <a class="item">
        <i class="folder outline icon"></i>
        Proyectos
      </a>
      <a class="item">
        <i class="eye icon"></i>
        Observaciones
      </a>
      <a class="item">
        <i class="user outline icon"></i>
        Perfil
      </a>
    </div>
<% end %>
